<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- data.title %></title>
</head>
<body>
    
    <form action="" method="get" autocomplete="off">
        <input type="text" name="cityName"  placeholder="Enter a city">
      </form>

    <p>city name:
        <%- data.townname %>
    </p>

    <p>country name:
        <%- data.countryname %>
    </p>

    <p> temprature: 
        <%- data.temprature %>
        </p>


       

    <p>pressure:
        <%- data.pressure%>
    </p>
    
    
    <p>huminity:
       <%- data.humidity %>    
    </p>

    <p>feelslike:
       <%- data.feelslike %>    
    </p>       

           
</body>
</html>