<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%- data.notesad %>
    </h1>

    <p><strong>
        updated time:
        <%- data.updatedtime %>
    </strong></p>
     <p>
        Usd price:
        <%- data.usd%>
    </p>

    <p>
        Usd details:
        <%- data.usddesc%>
    </p>

    <p>
        gbp price:
        <%- data.gbp%>
    </p>

    <p>
        gbp details:
        <%- data.gbpdesc%>
    </p>
     
</body>
</html>